<div class="widget">
    <h2>{{ head.lang_title }}:</h2>

    {% if head.is_testmode %}
    <h3>Testmode: ON</h3><br>
    {% endif %}

    <ul class="import-summary">
        <li>{{ head.lang_datarecords }}: {{head.count_rows }}</li>
        <li>Offset: {{ head.int_offset }}</li>
        <li>Limit: {{ head.int_limit }}</li>
        <li class="allOk">{{ head.lang_successfull_inserts }}: {{ head.count_success }}</li>
        <li class="error">{{ head.lang_failed_inserts }}: {{ head.count_errors }}</li>
    </ul>

    <p>
        <button class="tl_submit showErrorButton" data-lbl-error-only="{{ head.lang_show_errors_btn }}" data-lbl-all="{{ head.lang_show_all_btn }}">{{ head.lang_show_errors_btn }}</button>
    </p>

    <table class="import-report-table">
        {% for row in rows %}
            {{ row|raw }}
        {% endfor %}
    </table>
</div>
